
src/_ReSharper\.Caches/ReSharperPlatformVs1512_8a9f22ff\.HPBar\.00/Db/

src/_ReSharper\.Caches/ReSharperPlatformVs1512_8a9f22ff\.HPBar\.00/CompletionStatistics/

src/_ReSharper\.Caches/ReSharperPlatformVs1512_8a9f22ff\.HPBar\.00/ExternalFiles/

src/_ReSharper\.Caches/ReSharperPlatformVs1512_8a9f22ff\.HPBar\.00/FileDependencies/

src/_ReSharper\.Caches/ReSharperPlatformVs1512_8a9f22ff\.HPBar\.00/AnnotatedMembers/

src/_ReSharper\.Caches/ReSharperPlatformVs1512_8a9f22ff\.HPBar\.00/

src/obj/Windows/AnyCPU/Release/DesignTimeResolveAssemblyReferences\.cache

src/obj/Windows/AnyCPU/Release/DesignTimeResolveAssemblyReferencesInput\.cache

src/obj/Windows/AnyCPU/Release/EnemyHPBar\.dll

src/obj/Windows/AnyCPU/Release/HPBar\.csproj\.CoreCompileInputs\.cache

src/obj/Windows/AnyCPU/Release/HPBar\.csproj\.FileListAbsolute\.txt

src/obj/Windows/AnyCPU/Release/HPBar\.csproj\.GenerateResource\.Cache

src/obj/Windows/AnyCPU/Release/HPBar\.csprojAssemblyReference\.cache

src/bin/Debug/Assembly-CSharp\.dll

src/bin/Debug/Assembly-CSharp\.xml

src/bin/Debug/EnemyHPBar\.pdb

src/bin/Debug/PlayMaker\.dll

src/bin/Debug/UnityEngine\.dll

src/bin/Debug/UnityEngine\.UI\.dll

src/bin/Windows/AnyCPU/Release/\[API\] Enemy Health Bars by Gradow\.zip

src/bin/Windows/AnyCPU/Release/Assembly-CSharp-firstpass\.dll

src/bin/Windows/AnyCPU/Release/Assembly-CSharp\.dll

src/bin/Windows/AnyCPU/Release/Assembly-CSharp\.xml

src/bin/Windows/AnyCPU/Release/ConditionalExpression\.dll

src/bin/Windows/AnyCPU/Release/EnemyHPBar\.dll

src/bin/Windows/AnyCPU/Release/GalaxyCSharp\.dll

src/bin/Windows/AnyCPU/Release/hollow_knight_Data/managed/Mods/EnemyHPBar\.dll

src/bin/Windows/AnyCPU/Release/ModCommon\.dll

src/bin/Windows/AnyCPU/Release/Mono\.Security\.dll

src/bin/Windows/AnyCPU/Release/Readme\.txt

src/bin/Windows/AnyCPU/Release/SonyNP\.dll

src/bin/Windows/AnyCPU/Release/SonyPS4SaveData\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.AccessibilityModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.AccessibilityModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.AIModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.AIModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.AnimationModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.AnimationModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.ARModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.ARModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.AssetBundleModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.AssetBundleModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.AudioModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.AudioModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.ClothModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.ClothModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.ClusterInputModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.ClusterInputModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.ClusterRendererModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.ClusterRendererModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.CoreModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.CoreModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.CrashReportingModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.CrashReportingModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.DirectorModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.DirectorModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.GameCenterModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.GameCenterModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.GridModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.GridModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.ImageConversionModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.ImageConversionModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.IMGUIModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.IMGUIModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.InputModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.InputModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.JSONSerializeModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.JSONSerializeModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.Networking\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.ParticlesLegacyModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.ParticlesLegacyModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.ParticleSystemModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.ParticleSystemModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.PerformanceReportingModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.PerformanceReportingModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.Physics2DModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.Physics2DModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.PhysicsModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.PhysicsModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.ScreenCaptureModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.ScreenCaptureModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.SharedInternalsModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.SharedInternalsModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.SpatialTracking\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.SpriteMaskModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.SpriteMaskModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.SpriteShapeModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.SpriteShapeModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.StandardEvents\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.StyleSheetsModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.StyleSheetsModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.TerrainModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.TerrainModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.TerrainPhysicsModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.TerrainPhysicsModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.TextRenderingModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.TextRenderingModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.TilemapModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.TilemapModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.Timeline\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.UI\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.UIElementsModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.UIElementsModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.UIModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.UIModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.UNETModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.UNETModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.UnityAnalyticsModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.UnityAnalyticsModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.UnityConnectModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.UnityConnectModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.UnityWebRequestAudioModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.UnityWebRequestAudioModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.UnityWebRequestModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.UnityWebRequestModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.UnityWebRequestTextureModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.UnityWebRequestTextureModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.UnityWebRequestWWWModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.UnityWebRequestWWWModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.VehiclesModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.VehiclesModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.VideoModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.VideoModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.VRModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.VRModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.WebModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.WebModule\.xml

src/bin/Windows/AnyCPU/Release/UnityEngine\.WindModule\.dll

src/bin/Windows/AnyCPU/Release/UnityEngine\.WindModule\.xml

src/bin/Windows/AnyCPU/Release/zlib\.net\.dll

src/bin/Debug/EnemyHPBar\.xml

src/bin/Windows/AnyCPU/Release/\[API\] Enemy Health Bars by Gradow\.zip
